* {
  box-sizing: border-box;
  /*background-color:LightGrey;*/
}
header {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	margin-bottom: 8px;
	font-family: NimbusSanL, Arial, sans-serif;
	text-align: center;
	color:#282828;
	background-color:whitesmoke; 
}
h2 {
	margin: 0px;
	border-width: 0px;
	width: 100%;
	height: 500px;
	font-size: 40px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	background-image: url(../../assets/backgrounds/background3.jpeg);
	background-size: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right 25% top 25%;
}

/*
.imgLeft {
	float: left;
	display: block;
	margin-left: 100px;
	margin-right: 10px;
	width: auto;
}

.imgRight {
	float: right;
	display: block;
	margin-left: 100px;
	margin-right: 0px;
	width: auto;
}
*/
h3 {
	font-size: 25px;
	margin-right: 100px;
	text-align: center;
	margin-bottom: 0px;
}

p {
	font-size: 20px;
	margin-right: 100px;
	text-align: left;
}

model-viewer {
	background-image: url(../../assets/backgrounds/background4.jpeg);
	background-position: right 50% top 50%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 368px;
	margin: auto;
}

button {
	background-image: url(https://www.hackingwithswift.com/uploads/arkit.jpg);
	background-size: 100%;
	width: 160px;
	height: 110px;
	margin-bottom: 0px;
	margin-top: 5px
}

h4 {
	font-size: 25px;  
	text-align: center; 
	margin-bottom: 50px;
}

h5 {
	font-size: 30px;  
	text-align: center; 
	margin-bottom: 75px;
}

.authors {
	float: left;
	font-size: 20px;
	text-align: center;
	margin-right: 50px;
	margin-left: 10px;
}

